# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.pbxuser

# IDE
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock
